@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Work Sans", "Helvetica";
  font-style: normal;
  font-weight: 400;
}

ol {
  font-weight: 500;
  font-size: 17.5616px;
  line-height: 21px;
  text-align: left;
  color: #c2c7d6;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
  list-style: none;
}

.refcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.refbox1 {
  position: absolute;
  top: 2082px;
  margin-left: -450px;
}

.refbox2 {
  position: absolute;
  top: 2304px;
  margin-left: -387px;
}

.refbox3 {
  position: absolute;
  top: 2009px;
  margin-left: -40px;
}

.refbox4 {
  position: absolute;
  top: 2227px;
  margin-left: -130px;
}

.iconcup {
  position: absolute;
  top: 2250px;
  margin-left: 35px;
}

.icondocument {
  position: absolute;
  top: 2065px;
  margin-left: -725px;
}

.iconmap {
  position: absolute;
  top: 2420px;
  margin-left: -130px;
}

.iconshakehands {
  position: absolute;
  top: 2030px;
  margin-left: 165px;
}

.adscontainer {
  position: absolute;
  top: 2550px;
}