@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Work Sans", "Helvetica";
  font-style: normal;
  font-weight: 400;
}

.refcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.refbox1 {
  position: absolute;
  top: 2000px;
  margin-right: 500px;
}

.refbox2 {
  position: absolute;
  top: 2000px;
  margin-right: 700px;
  z-index: 1;
}

.refbox3 {
  position: absolute;
  top: 2000px;
  margin-right: 900px;
}

.refbox4 {
  position: absolute;
  top: 2000px;
}