@import '../_global.scss';

.refcontainer {
  display: flex;
  justify-content: center;
}
.refbox1 {
  position: absolute;
  top: 2082px;
  margin-left: -450px;
}

.refbox2 {
  position: absolute;
  top: 2304px;
  margin-left: -387px;
}
.refbox3 {
  position: absolute;
  top: 2009px;
  margin-left: -40px;
}
.refbox4 {
  position: absolute;
  top: 2227px;
  margin-left: -130px;
}

.iconcup {
  position: absolute;
  top: 2250px;
  margin-left: 35px;
}

.icondocument {
  position: absolute;
  top: 2065px;
  margin-left: -725px;
}
.iconmap {
  position: absolute;
  top: 2420px;
  margin-left: -130px;
}
.iconshakehands {
  position: absolute;
  top: 2030px;
  margin-left: 165px;
}

.adscontainer {
  position: absolute;
  top: 2550px;
}
