@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Work Sans", "Helvetica";
  font-style: normal;
  font-weight: 400;
}

ol {
  font-weight: 500;
  font-size: 17.5616px;
  line-height: 21px;
  text-align: left;
  color: #c2c7d6;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
  list-style: none;
}