@import '../_global.scss';

.referencebox {
  width: 204.89px;
  height: 113.93px;
  background: $whitegeneric;
  border: 0.731732px solid $whitegeneric;
  box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1),
    0px 4px 6px -2px rgba(17, 24, 39, 0.05);
  border-radius: 2.92693px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 21.952px;
  gap: 1.46px;
}

.digits {
  @include title;
  font-weight: 600;
  font-size: 72px;
  line-height: 84px;
}

.content {
  color: $altcolortext;
  font-size: 17.5616px;
  line-height: 21px;
}

.bottom {
  display: flex;
  gap: 9px;
}
