@import '../_global.scss';

.title {
  @include title;
  text-align: center;
}

.overviewcontainer {
  position: absolute;
  top: 566.5px;
  padding: 0;
  margin: 0;
  width: 100%;
}

.upperoverview {
  display: flex;
  justify-content: center;
  align-items: center;
}
