@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap");
@font-face {
  font-family: "work_sansblack";
  src: url("./fonts/Black/worksans-black.eot");
  src: url("./fonts/Black/worksans-black.eot?#iefix") format("embedded-opentype"), url("./fonts/Black/worksans-black.woff2") format("woff2"), url("./fonts/Black/worksans-black.woff") format("woff"), url("./fonts/Black/worksans-black.ttf") format("truetype"), url("./fonts/Black/worksans-black.svg#work_sansblack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "work_sansbold";
  src: url("./fonts/Bold/worksans-bold.eot");
  src: url("./fonts/Bold/worksans-bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Bold/worksans-bold.woff2") format("woff2"), url("./fonts/Bold/worksans-bold.woff") format("woff"), url("./fonts/Bold/worksans-bold.ttf") format("truetype"), url("./fonts/Bold/worksans-bold.svg#work_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "work_sansextrabold";
  src: url("./fonts/ExtraBold/worksans-extrabold.eot");
  src: url("./fonts/ExtraBold/worksans-extrabold.eot?#iefix") format("embedded-opentype"), url("./fonts/ExtraBold/worksans-extrabold.woff2") format("woff2"), url("./fonts/ExtraBold/worksans-extrabold.woff") format("woff"), url("./fonts/ExtraBold/worksans-extrabold.ttf") format("truetype"), url("./fonts/ExtraBold/worksans-extrabold.svg#work_sansextrabold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "work_sansextralight";
  src: url("./fonts/ExtraLight/worksans-extralight.eot");
  src: url("./fonts/ExtraLight/worksans-extralight.eot?#iefix") format("embedded-opentype"), url("./fonts/ExtraLight/worksans-extralight.woff2") format("woff2"), url("./fonts/ExtraLight/worksans-extralight.woff") format("woff"), url("./fonts/ExtraLight/worksans-extralight.ttf") format("truetype"), url("./fonts/ExtraLight/worksans-extralight.svg#work_sansextralight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "work_sanslight";
  src: url("./fonts/Light/worksans-light.eot");
  src: url("./fonts/Light/worksans-light.eot?#iefix") format("embedded-opentype"), url("./fonts/Light/worksans-light.woff2") format("woff2"), url("./fonts/Light/worksans-light.woff") format("woff"), url("./fonts/Light/worksans-light.ttf") format("truetype"), url("./fonts/Light/worksans-light.svg#work_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "work_sansmedium";
  src: url("./fonts/Medium/worksans-medium.eot");
  src: url("./fonts/Medium/worksans-medium.eot?#iefix") format("embedded-opentype"), url("./fonts/Medium/worksans-medium.woff2") format("woff2"), url("./fonts/Medium/worksans-medium.woff") format("woff"), url("./fonts/Medium/worksans-medium.ttf") format("truetype"), url("./fonts/Medium/worksans-medium.svg#work_sansmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "work_sansregular";
  src: url("./fonts/Regular/worksans-regular.eot");
  src: url("./fonts/Regular/worksans-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Regular/worksans-regular.woff2") format("woff2"), url("./fonts/Regular/worksans-regular.woff") format("woff"), url("./fonts/Regular/worksans-regular.ttf") format("truetype"), url("./fonts/Regular/worksans-regular.svg#work_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "work_sanssemibold";
  src: url("./fonts/SemiBold/worksans-semibold.eot");
  src: url("./fonts/SemiBold/worksans-semibold.eot?#iefix") format("embedded-opentype"), url("./fonts/SemiBold/worksans-semibold.woff2") format("woff2"), url("./fonts/SemiBold/worksans-semibold.woff") format("woff"), url("./fonts/SemiBold/worksans-semibold.ttf") format("truetype"), url("./fonts/SemiBold/worksans-semibold.svg#work_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "work_sansthin";
  src: url("./fonts/Thin/worksans-thin.eot");
  src: url("./fonts/Thin/worksans-thin.eot?#iefix") format("embedded-opentype"), url("./fonts/Thin/worksans-thin.woff2") format("woff2"), url("./fonts/Thin/worksans-thin.woff") format("woff"), url("./fonts/Thin/worksans-thin.ttf") format("truetype"), url("./fonts/Thin/worksans-thin.svg#work_sansthin") format("svg");
  font-weight: normal;
  font-style: normal;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Work Sans", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
}

html {
  font-size: 100%;
}

ol {
  font-weight: 500;
  font-size: 17.56px;
  line-height: 21px;
  text-align: left;
  color: #c2c7d6;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
  list-style: none;
}

li:hover {
  background-color: #f9995d;
}

a {
  text-decoration: none;
  color: inherit;
}

.img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.thumbnailcontainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: 520px;
  margin-left: 248px;
  margin-top: -40px;
}

.thumbnailimage {
  width: 280.99px;
  height: 180.74px;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-weight: 700;
  font-size: 14.6px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  background: #2947a9;
  padding: 3%;
  text-align: left;
  background-color: #858ead;
}

.content {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  background: #2947a9;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  padding: 4%;
  background-color: #858ead;
}