$FontPathWorkSans: '../../assets/browser/fonts/work-sans';
@import '../../node_modules/font-work-sans/work-sans';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

$primarycolor: #2947a9;
$secondarycolor: #f9995d;
$neutralbg: #f6f8f7;
$primarytext: #3d445c;
$secondarytext: #858ead;
$whitegeneric: #ffffff;
$altcolortext: #667299;
$altcolortext2: #525b7a;
$coloroli: #c2c7d6;
$titlecolor: #292e3d;
$bgform: #f6f8f7;
$bordercolor: #e0e3eb;
$inputtext: #a3aac2;
$asteriskcolor: #ed6565;
$neutralfield: #667299;
$neutralasterisk: #c40303;
$bgartwork: #3559c7;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
}

html {
  font-size: 100%;
}

ol {
  font-weight: 500;
  font-size: 17.56px;
  line-height: 21px;
  text-align: left;
  color: $coloroli;
  flex: none;
  order: 1;
  flex-grow: 0;
  list-style: none;
}

li:hover {
  background-color: $secondarycolor;
}

a {
  text-decoration: none;
  color: inherit;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

@mixin title {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 26.34px;
  line-height: 31px;
  color: $titlecolor;
}

@mixin btn {
  font-family: 'Work Sans', sans-serif, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13.17px;
  line-height: 15px;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 1.46px;
  flex-direction: row;
  padding: 11.7px 14.6px;
  gap: 7.32px;
  cursor: pointer;
  border-style: none;
}

@mixin inputfield {
  background: $whitegeneric;
  display: flex;
  flex-direction: row;
  padding: 7.32px 5.85px;
  gap: 7.32px;
  border: 0.73px solid $bordercolor;
  border-radius: 2.92px;
  color: $inputtext;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-size: 18px;
  line-height: 21px;
  border-style: none;
}

@mixin fetchedtitle {
  font-weight: 700;
  font-size: 14.6px;
  line-height: 17px;
  text-align: center;
  color: $whitegeneric;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: $primarycolor;
}

@mixin fetchedtext {
  font-size: 18px;
  line-height: 21px;
  color: $whitegeneric;
  background: $primarycolor;
}

@mixin fetchbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2.9px 14.6px;
  gap: 7.32px;
  width: 215.86px;
  height: 46.83px;
  background: $titlecolor;
  font-size: 14px;
  line-height: 21px;
  color: $whitegeneric;
  cursor: pointer;
}
