@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

$primarycolor: #2947a9;
$secondarycolor: #f9995d;
$neutralbg: #f6f8f7;
$primarytext: #3d445c;
$secondarytext: #858ead;
$whitegeneric: #ffffff;
$altcolortext: #667299;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', 'Helvetica';
  font-style: normal;
  font-weight: 400;
}

@mixin title {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 26.3424px;
  line-height: 31px;
  color: #292e3d;
}
