$primarycolor: #2947a9;
$secondarycolor: #f9995d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', 'Helvetica';
  font-style: normal;
  font-weight: 400;
}

@mixin title {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 26.3424px;
  line-height: 31px;
  color: #292e3d;
}
