@import '../_global.scss';

.projectscontainer {
  position: absolute;

  top: 2850px;
}

.projectsmain {
  display: flex;
  justify-content: center;
}

.sidebar {
}

.projectsbox {
}

.project1 {
  width: 280.99px;
  height: 242.01px;
  border: 1px solid black;
}
