@import '../_global.scss';

.projectsmain {
  position: absolute;
  top: 2850px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.projectscontainer {
  display: flex;
  justify-content: center;
}

.projectbox {
  display: flex;
  justify-content: center;
  gap: 185px;
}

.sidebar {
  position: absolute;
  margin-left: -720px;
}

.projectbox {
}
