@import '../_global.scss';

ul {
  display: flex;
  list-style: none;
  white-space: nowrap;
  font-size: 21.952px;
  line-height: 26px;
  gap: 36.5px;
}

div {
  ul {
    li.lastchild {
      color: #f9995d;
    }
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoname {
  color: $primarycolor;
  font-size: 21.952px;
  line-height: 26px;
  font-weight: 700;
  padding: 16.5px;
}

.italic {
  font-style: italic;
}

.navleft {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-right: 200.5px;
}
