@import '../_global.scss';

.contactcontainer {
  position: absolute;
  top: 3500px;
  width: 100%;
}

.contactmain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainbox {
  text-align: center;
  width: 1054px;
  background-color: $bgform;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.title {
  @include title;
}

.contactform {
  position: absolute;
  bottom: -3500px;
  left: 50%;
  transform: translateX(-50%);
}
