@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Work Sans", "Helvetica";
  font-style: normal;
  font-weight: 400;
}

.assetsbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 52px;
  padding-top: 36px;
}

.box1,
.box2,
.box3 {
  width: 213.5px;
  padding: 16px;
  padding-bottom: 29px;
  border: 1.02443px solid #e0e3eb;
  border-radius: 2.92693px;
}

.header {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 26.3424px;
  line-height: 31px;
  color: #292e3d;
  color: #3d445c;
  font-weight: 700;
  font-size: 14.6346px;
  line-height: 17px;
  margin-top: 14px;
  margin-bottom: 13px;
}

.para {
  color: #858ead;
  font-size: 11.6px;
  line-height: 14px;
}