@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Work Sans", "Helvetica";
  font-style: normal;
  font-weight: 400;
}

html {
  font-size: 100%;
}

ol {
  font-weight: 500;
  font-size: 17.5616px;
  line-height: 21px;
  text-align: left;
  color: #c2c7d6;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
  list-style: none;
}

li.active {
  background-color: #555;
}

li:hover {
  background-color: #f9995d;
}

a {
  text-decoration: none;
  color: inherit;
}

.img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.assetsbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 52px;
  padding-top: 36px;
}

.box1,
.box2,
.box3 {
  width: 213.5px;
  padding: 16px;
  padding-bottom: 29px;
  border: 1.02443px solid #e0e3eb;
  border-radius: 2.92693px;
}

.header {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 26.3424px;
  line-height: 31px;
  color: #292e3d;
  color: #3d445c;
  font-weight: 700;
  font-size: 14.6346px;
  line-height: 17px;
  margin-top: 14px;
  margin-bottom: 13px;
}

.para {
  color: #858ead;
  font-size: 11.6px;
  line-height: 14px;
}