@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Work Sans", "Helvetica";
  font-style: normal;
  font-weight: 400;
}

html {
  font-size: 100%;
}

ol {
  font-weight: 500;
  font-size: 17.5616px;
  line-height: 21px;
  text-align: left;
  color: #c2c7d6;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
  list-style: none;
}

li.active {
  background-color: #555;
}

li:hover {
  background-color: #f9995d;
}

a {
  text-decoration: none;
  color: inherit;
}

.img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f9995d;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.scrollToTop:hover {
  opacity: 1;
}
.scrollToTop.visible {
  opacity: 1;
}
.scrollToTop .scrollText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.scrollToTop .scrollText p {
  color: #ffffff;
  font-size: 16px;
  margin-right: 10px;
}
.scrollToTop .scrollText .icon {
  color: #ffffff;
  font-size: 24px;
}